{{template "header.html" .}}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-sm-3">
            <div class="widget-head-color-box navy-bg p-lg text-center">
                <div class="m-b-md">
                    <h2 class="font-bold no-margins">
                        <a href="/apps/json" style="color: #ffffff">
                            JSON格式化
                        </a>
                    </h2>
                </div>
            </div>
            <div class="widget-text-box">
                <h5 class="media-heading">JSON格式化、JSON压缩</h5>
                <div class="text-right">
                    <a href="/apps/json" class="btn btn-xs btn-white">查看</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget-head-color-box navy-bg p-lg text-center">
                <div class="m-b-md">
                    <h2 class="font-bold no-margins">
                        <a href="/apps/trans" style="color: #ffffff">
                        JSON <i class="fa fa-exchange"></i> XML
                        </a>
                    </h2>
                </div>
            </div>
            <div class="widget-text-box">
                <h4 class="media-heading">JSON/XML互转</h4>
                <div class="text-right">
                    <a href="/apps/trans" class="btn btn-xs btn-white">查看</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="widget-head-color-box navy-bg p-lg text-center">
                <div class="m-b-md">
                    <h2 class="font-bold no-margins">
                        <a href="/apps/timestamp" style="color: #ffffff">
                            时间戳转换
                        </a>
                    </h2>
                </div>
            </div>
            <div class="widget-text-box">
                <h4 class="media-heading">UNIX时间戳普通时间相互转换</h4>
                <div class="text-right">
                    <a href="/apps/timestamp" class="btn btn-xs btn-white">查看</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/assets/js/content.js?v=4.1.0"></script>