{{template "header.html" .}}
<link rel="stylesheet" href="/assets/js/plugins/pagination/pagination.css">
<link href="/assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<body class="gray-bg">
<div class="row">
    <div class="wrapper animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content">
                        <div class="m-t-xs m-b-xs">
                            <strong style="font-size:20px;">Api 列表</strong>
                            <span> 根据Api子分类的拼音首字母进行快速查找</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn btn-primary classifyALL m-r-xs m-b-xs">All</button>
                                {{range $k, $v :=.gather}}
                                    <button type="button" class="btn btn btn-primary classifyLetter m-r-xs m-b-xs">{{$k}}</button>
                                {{end}}
                            </div>
                            <div class="col-sm-12  m-t-none classifyGather">
                                <div class="m-t-xs">
                                    {{range $k, $v :=.gather}}
                                        {{range $v}}
                                            <a href="javascript:;" class="btn btn-default btn-rounded m-r-xs m-b-xs sub{{$k}} subClassify"  subid="{{.id}}" style="display: none">{{.classifyname}}</a>
                                        {{end}}
                                    {{end}}
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="nav nav-tabs">
                                <span class="pull-right small text-muted totalCount">统计中…</span>
                            </div>
                            <div class="tab-content">
                                <div class="table-responsive">
                                    <div class="spiner-loading">
                                        <div class="sk-spinner sk-spinner-three-bounce">
                                            <div class="sk-bounce1"></div>
                                            <div class="sk-bounce2"></div>
                                            <div class="sk-bounce3"></div>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-hover" style="margin-bottom: 0px;">
                                        <thead>
                                        <tr>
                                            <th>Api 名称</th>
                                            <th>版本</th>
                                            <th>URI</th>
                                            <th>维护人</th>
                                            <th>时间</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot class="hide-if-no-paging">
                                        <tr>
                                            <input type="hidden" name="ajaxApiUrl" value="/manager/{{.proid}}/Api">
                                            <td colspan="5" class="text-center footable-visible">
                                                <div class="M-box"></div>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.min.js?v=2.1.4"></script>
<script src="/assets/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/assets/js/plugins/iCheck/icheck.min.js"></script>
<script src="/assets/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/assets/js/plugins/pagination/jquery.pagination.min.js"></script>
<script src="/assets/js/manager.js"></script>
<script src="/assets/js/renderlayer.js"></script>
<script src="/assets/js/apilist.js"></script>
<script>
    $(function(){
        var envid = {{.env.Envid}}
        if(envid==0){
            swal({
                title: "请在顶部右上角处选择当前环境",
                text: "环境选择后才能查找到Api",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "好的",
                cancelButtonText: "稍后",
                closeOnConfirm: false,
                closeOnCancel: true
            });
        }
    });
</script>